*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Sans;
}
/*-------------------common-css---------------------
----------------------------------------------------*/
:root{
	--khoisan-theme-color:#ffc527;
	--khoisan-text-color:#ffc527;
	--khoisan-theme-text-color:#000;
	--navbar-background-color:#000;
	--navbar-text-color:#fff;
	--khoisan-theme-btn-color:;
	--text-color:#777777;
	--khoisan-theme-btn-text-color:;
	--khoisan-theme-btn-hover-color:#fff;
	--khoisan-theme-btn-hover-bg-color:#ac8519;
}
.top-fixed{
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color:var(--navbar-background-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
a{
	color: var(--khoisan-text-color);
}
a:hover{
	color: var(--khoisan-text-color);
}
p, li{
	color: var(--text-color);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
	color: var(--khoisan-theme-btn-hover-color);
}
.active {
	font-size: 14px;
	color: var(--khoisan-theme-btn-hover-color);
	text-decoration: none;
}
.text-theme{
	color: var(--khoisan-text-color);
}
section{
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
	scroll-margin-top:1.5rem;
}
.head h2 span{
	font-weight: 700;
}
h2,h3,h4,h5,h6{
	line-height: 1.5;
}
.section-about UL li{
margin: .8rem 0px;
}
.btn-theme{
	background-color: var(--khoisan-theme-color);
	color: var(--khoisan-theme-btn-hover-color);
	border: none;
	padding: .4rem 1rem;
	border-radius: 4px;
}
.btn-theme:hover{
	color: var(--khoisan-theme-btn-hover-color);
	background-color:var(--khoisan-theme-btn-hover-bg-color) ;
}
.btn:first-child:active{
	color: var(--khoisan-theme-btn-hover-color);
	background-color:var(--khoisan-theme-btn-hover-bg-color) ;
}
.bottom-arrow-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--khoisan-theme-color);
    position: fixed;
    bottom: 1rem;
    right: 2rem;
}
.bottom-arrow-div .bx-up-arrow-alt {
    font-size: 30px;
    color: var(--navbar-text-color);
}
/*-------------------Header-css---------------------
----------------------------------------------------*/
.section-header{
	background-color: var(--navbar-background-color);
	z-index: 9;
}
.section-header .navbar-nav a, .top-fixed .navbar-nav a{
	color: var(--khoisan-text-color);
	font-size: 16px;
	padding: 0px 16px!important;
	cursor: pointer;
}
.section-header .navbar-brand{
	color: var(--navbar-text-color);
}
.section-header .navbar-nav a:after {
    display: block;
    content : '';
    border-bottom: solid 3px var(--navbar-text-color);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.section-header .navbar-nav .nav-item:hover a{
	color: var(--khoisan-theme-btn-hover-color);
}
.section-header .navbar-nav a:hover:after {
    transform: scaleX(1);
}
/*-------------------Image-css---------------------
----------------------------------------------------*/
.section-image .image-zoom-container {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image .zoom-image {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}
/*-------------------footer-css---------------------
----------------------------------------------------*/
.section-gallery .gallery{
	background: #141414;
	padding: 1vh;
}

.section-gallery .gallery  img{
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: all 0.3s ease;
}

.section-gallery .gallery:has(img:hover) img:not(:hover) {
	scale: 0.9;
	opacity: 0.5;
	filter: grayscale(70%);
}

/*--------------------contact-css--------------------
----------------------------------------------------*/

.contact-section .side-icon i{
	color: var(--khoisan-text-color);
}
.contact-section ul li a{
	color: var(--khoisan-text-color);
}
.form-company-info{
	background:#c3c9de;
}
.form-contact {
	padding: 24px;
}

.form-contact form button,
.form-contact form input,
.form-contact form textarea {
	width: 100%;
	padding: .5em;
	border: solid 1px var(--khoisan-theme-color);
	border-radius: 4px;
}
.full #btncontactsubmit:hover, .about-right .btn-gist:hover{
	background-color:var(--khoisan-theme-color)!important;
	box-shadow: none;
	color: var(--khoisan-theme-text-color);
}

/*-------------------footer-css---------------------
----------------------------------------------------*/
.section-footer{
	background-color:var(--navbar-background-color) ;
	color: var(--navbar-text-color);
}
.section-footer a{
	color: var(--khoisan-theme-text-color);
}

.section-footer .footer-icon{
	display: inline-block;
	color: #7f839c;
	font-size:22px;
	text-align: center;
	transition: 0.3s;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height:32px;
	border: 1px solid #7f839c;
	border-radius: 50%;
	margin: 10px;
	position: relative;
}
.section-footer .footer-icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section-footer a{
	text-decoration: none;
	color: #fff;
}
.footer-icon:hover{
	color: #fff;
	background:var(--khoisan-theme-color);
	box-shadow: 0px 17px 66px 1px hwb(208deg 0% 0%);
	border: 1px solid var(--khoisan-theme-color);
}
@media (max-width:768px){
	.section-history img, .section-about img{
		width: 100%;
	}
}
/* Login Css Start */

/* Login Css End */

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
